<!DOCTYPE html>
<html>
  <head>
    <title>RubyScout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-auto m-0 p-0">
    <%= render 'layouts/header' %>
    <main class="container mx-auto mt-28 p-5">
      <%= yield %>
    </main>
  </body>
</html>
