<!DOCTYPE html>
<html>
  <head>
    <title>RubyLens</title>
    <%= favicon_link_tag 'favicon_io/favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-80E2SP6DQX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-80E2SP6DQX');
    </script>
  </head>


  <body class="w-auto m-0 p-0">
    <%= render 'layouts/header' %>
    <main class="container m-auto pt-5 p-5 bg-gray-100 md:bg-gray-50 w-full">
      <%= yield %>
    </main>
  </body>
</html>
